
#calendar {
    text-align: center;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

#year, #month {
    font-size: 24px;
    font-weight: bold;
}

#prevMonth, #nextMonth, #prevYear, #nextYear {
    cursor: pointer;
    padding: 5px;
    background-color: #FEC015;
    border: none;
    border-radius: 5px;
    color: white;
}

.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Menyesuaikan kolom agar rata */
    gap: 5px;
    justify-items: center; /* Center-kan setiap elemen dalam grid */
    padding: 5px;
    margin-top: 10px;
}

.days-grid span {
    width: 34.5px;
    height: 34.5px;
    background-color: #e0e0e0;
    color: #333;
    display: flex;
    align-items: center; /* Vertikal center text */
    justify-content: center; /* Horizontal center text */
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.days-grid span:hover {
    background-color: #ccc; /* Menambahkan efek hover */
}

.days-grid span.active {
    background-color: #FEC015; /* Warna #FEC015 untuk tanggal aktif */
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
}

.node-btn {
    background-color: #4c74dc; /* Warna default */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.node-btn:hover {
    background-color: #3761b0; /* Warna hover */
}

.node-button.active {
    background-color: #FEC015; /* Warna aktif */
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Menambahkan gaya tambahan untuk responsivitas */
@media (max-width: 768px) {
    .calendar-container {
        max-width: 100%; /* Pada layar lebih kecil, lebar kalender mengikuti lebar layar */
        padding: 15px;
    }

    .days-grid {
        grid-template-columns: repeat(7, 1fr); /* Menyesuaikan kolom untuk perangkat kecil */
    }

    .days-grid span {
        width: 35px;
        height: 35px;
        font-size: 14px; /* Ukuran font lebih kecil di perangkat mobile */
    }
}
